<section id="features" class="text-center">

    <div class="row">

        <div class="col-lg-6 d-block d-lg-flex">
            <a href="" style="text-decoration: none; color: black;" routerLink="/regiForm">
                <div class="features-col">

                    <h3 class="font-weight-bold">Softwar Developer</h3>
                    <p>We need immidiatly sofware developer our company We need immidiatly sofware y
                    </p>
                </div>
            </a>
        </div>

        <div class="col-lg-6 d-block d-lg-flex">
            <a href="" style="text-decoration: none; color: black;" routerLink="/regiForm">
                <div class="features-col">
                    <h3 class="font-weight-bold">Java Developer</h3>
                    <p>We need immidiatly Java Developer our company We need immidiatly Java Developer our company

                    </p>
                </div>
            </a>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>